@model PagedList.IPagedList<RPGSite.Models.Gallery>
@using PagedList.Mvc;

<link href="~/Content/LightBox/lightbox.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
<h2>Gallery</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Add picture", "Create")
    </p>
}   
<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <a href="~/Images/@item.Picture" data-lightbox="pics" data-title="@item.Title">
                <img src="~/Images/@item.Picture" alt="Picture" class="gallery-picture"/>
            </a>
            <p>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </p>
        </div>
    }
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))

@section Scripts{
    <script src="~/Scripts/Lightbox/lightbox.js"></script>
}
