@model IEnumerable<RPGSite.Models.Gallery>
<link href="~/Content/LightBox/lightbox.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}   
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a href="~/Images/@item.Picture" data-lightbox="pics" data-title="@item.Title">
                    <img src="~/Images/@item.Picture" alt="Picture" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/Lightbox/lightbox-plus-jquery.js"></script>