@model RPGSite.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Cart";
}
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        //Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            //Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                //Perform ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        //Successful request get here
                        //Update the page elements
                        if (data.CartCount < 1) {
                            $("#checkout").hide();
                        }
                        if (data.ItemCount == 0) {
                            $("#row-" + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>

<h2>
    <em>Review</em> your cart:
</h2>
@if (Model.CartItems.Count > 0)
{
    <p class="button">
        @Html.ActionLink("Checkout>>", "Payment", "Checkout", null, htmlAttributes: new { @id = "checkout" })
    </p>
}

<div id="update-message" class="text-info"></div>
<table class="table table-striped" id="cartTable">
    <tr>
        <th>
            Equipment Name
        </th>
        <th>
            Rarity
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.RecordID">
            <td>
                @item.Equipment.Title
            </td>
            <td>
                @item.Equipment.Rarity.Rarity
            </td>
            <td id="item-count-@item.RecordID">
                @item.Count
            </td>
            <td>
                @item.Equipment.Price
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@item.RecordID">Remove from cart</a>
            </td>
        </tr>
    }
    <tr>
        <td colspan="3">
            Total
        </td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>