@model PagedList.IPagedList<RPGSite.Models.Equipment>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Shop";
}

<h2>Shop</h2>

@using (Html.BeginForm("Index", "Shop", FormMethod.Get))
{
    <p>
        <div class="form-inline">
            <div class="form-group">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
            <span class="text-info" id="message">@ViewBag.Message</span>
        </div>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Description
        </th>
        <th>
            @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Rarity", "Index", new { sortOrder = ViewBag.RaritySortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Picture
        </th>
        <th>
            Price
        </th>
        <th>
            Actioin
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rarity.Rarity)
        </td>
        <td>
            <img src="~/Images/@item.Picture" alt="Picture" class="product-image" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <p class="button">
                @Html.Hidden("itemIdField", item.ID)
                @Html.ActionLink("Add To Cart", "AddToCart", new { controller = "ShoppingCart", id = item.ID }, new { @class = "CartSubmit" })
            </p>
            
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, Page => Url.Action("Index",
    new { Page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))
@section Scripts{
    <script type="text/javascript">
        $(".CartSubmit").click(function (e) {
            e.preventDefault();
            var id = $(this).siblings("#itemIdField").val();
            var requestObject = {
                id: id
            };
            $.ajax({
                url: "/ShoppingCart/AddToCart/5",
                method: "POST",
                data: requestObject
            })
            .done(function (data) {
                if (data.success === true) {
                    $("#message").text("Item has been added to your cart!");
                    $("#message").show();
                    $("#message").delay(1000).fadeOut("slow");
                }
            });
        });
    </script>
    }