@model PagedList.IPagedList<RPGSite.Models.Equipment>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Equipment</h2>

@using (Html.BeginForm("Index", "Equipments", FormMethod.Get))
{
    <p>
        <div class="form-inline">
            <div class="form-group">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </p>
}

<p>
    @Html.ActionLink("Create new equipment", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Description
        </th>
        <th>
            @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Rarity", "Index", new { sortOrder = ViewBag.RaritySortParam, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            Picture
        </th>

        <th>
            Price
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rarity.Rarity)
        </td>
        <td>
            <img src="~/Images/@item.Picture" alt="Image" class="product-image" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, Page => Url.Action("Index",
    new { Page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))