@model IEnumerable<RPGSite.Models.Events>

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>
@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create new event", "Create")
    </p>
}
@foreach (var item in Model)
{
    <article>
        <h2 class="title">
            @Html.ActionLink(item.Title, "Details", new { id = item.ID })
            @if (User.IsInRole("Admin"))
            {
                <font size="2">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </font>
            }
        </h2>
        <p class="author">@Html.DisplayNameFor(model => model.User): @Html.DisplayFor(modelItem => item.User.UserName)</p>
        <p class="date">
            Date:
            @if (item.Updated == null)
            {
                @Html.DisplayFor(modle => item.Created)
            }
            else
            {
                @Html.DisplayFor(modle => item.Updated)
            }
        </p>
        <p class="duration">
            Starts from: @Html.DisplayFor(modelItem => item.StartDate) |
            Ends at: @Html.DisplayFor(modelItem => item.EndDate)
        </p>
        <p class="description">@Truncate(item.Description, 150)</p>
        <hr />
    </article>
}